.content-section {
  width: 90%;
  margin: 0 auto;
  padding: 25px 0;
  display: table;
  .content-top {
    display: inline-block;
    width: 45%;
    position: relative;
    background: #97C02F;
    margin: 0 20px;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0 16px 16px 0;
      border-style: solid;
      border-color: #658E15 #fff
    }
    .content-top-head {
      font-weight: bold;
      text-align: center;
      line-height: 24px;
      padding: 10px 0;
      font-size: $h_font_size;
    }
    .content-top-text {
      color: $dark_gray;
      line-height: 22px;
      padding: 10px 0;
      font-size: $p_font-size;
      padding: 20px;
    }
  }
  .content-bottom {
    @extend .content-top;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      border-width: 0 16px 16px 0;
      border-style: solid;
      border-color: #658E15 #fff
    }
    h1 {
      @extend .content-top-head;
    }
    p {
      @extend .content-top-text;
    }
  }
}
