.size {
	text-align:center;
  padding: 50px 0px;
  display: block;
  @for $i from 3 through 6 {
    .item-#{$i} {
      font-size: 5px * $i;
      padding-left: 10px;
    }
  }
  $j: 3;
@while $j > 0 {
	.item-#{$j} {
		padding: 10px * $j;
    color: darken( $gray, 10% );
    border: 1px solid;
	}
	$j: $j - 1;
}
@for $row from 1 to 7 {
  .item-#{$row} {
    display: inline;
  }
}
li {
  &:first-child {
    @include txt(none);
  }
  &:last-child {
    @include txt(bold);
  }
}
}
.color {
	text-align:center;
  padding: 50px 0;
  @each $type,$txt,$back in $alt,$sub,$bck {
    .#{$type}-link {
      color: $txt;
      background-color: $back;
      width: 50px;
      display: inline;
      padding: 10px;
    }
  }
}
