@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin txt($weight) {
  color: $dark_gray;
  @if ($weight == bold) {
    font-weight: bold;
  }
  @else if( $weight == normal) {
    font-weight: normal;
  }
}
@mixin respond-to($breakpoint) {
  @if $breakpoint=="small" {
    @media (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint=="medium" {
    @media (max-width: 991px) {
      @content;
    }
  }
}
